@use './src/common/style/global' as *;

.profile {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template: 1fr / max-content 1fr;
  gap: 20px;
}

.profile__avatar {
  margin: 0;
  padding: 0 50px;
  grid-row: 1/2;
  grid-column: 1/2;
  align-self: center;

}

.profile__form {
  margin: 0;
  padding: 0 20px 20px 0;
  grid-row: 1/2;
  grid-column: 2/3;
  display: grid;
  grid-template: auto / 1fr;
  gap: 15px;
}


.form__label {
  display: flex;
  flex-direction: column;
  margin: 0;
  position: relative;
}

.form__input {
  margin: 0;
  padding: 10px 0;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .3);
}
