@use './src/common/style/global' as *;

.tabs__bar {
  margin-top: -12px;
}

.tabs-item {
  margin-top: 12px;

  &:not(:last-child) {
    margin-right: 12px;
  }
}

@media screen and (max-width: $bp-mobile) {
  .tabs__bar {
    margin-top: -8px;
  }

  .tabs-item {
    margin-top: 8px;

    &:not(:last-child) {
      margin-right: 18px;
    }
  }
}
