@use './src/common/style/global' as *;

.TableHead {

}

.TableBody {

}

.TableCell {

}

.TableCellFirst {
  text-align: left;
}

.TableCellEnd {
  text-align: right;
}

.TableSkeleton {
  width: 100%;
}
