@use './src/common/style/global' as *;

.brief-form {
  margin-top: 12px;
}

.brief-form__description {
  margin: 1em auto;
  text-align: center;
}

.brief-form__title {
  margin: 1em 0;
}

.brief-form__input {
  & + & {
    margin-top: 1em;
  }
}

.brief-form__submit {
  margin: 1em 0;
}
