@use './src/common/style/global' as *;

.avatar {
  border-radius: 50%;
  min-height: 32px;
  min-width: 32px;
  overflow: hidden;
  transition: border .3s;

  &_type {
    &_btn {
      cursor: pointer;
    }
  }

  &_border {
    &_primary {
      border: 2px solid #C4C4C4;

      &:hover {
        border: 2px solid $green;
      }
    }
  }

  &_size {
    &_stretch-x {
      width: 100%;
    }

    &_stretch-y {
      height: 100%;
    }

    &_small {
      height: 34px;
      width: 34px;
    }

    &_large {
      height: 64px;
      width: 64px;
    }

  }
}

.avatar__img {
  display: inline-block;
  border-radius: 50%;
  object-fit: contain;
  object-position: center;
  height: 100%;
  width: 100%;
}