@use './src/common/style/global' as *;

.app-bar {
  width: 100%;
  padding: 12px 24px 0px;

  @media screen and (max-width: $bp-mobile) {
    background: #FFFFFF;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
    padding: 12px 0;
    position: sticky;
    top: 0;
    z-index: 1;
  }
}

.app-bar__actions {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 16px;

  @media screen and (max-width: $bp-mobile) {
    padding: 0 12px;
  }
}

.app-bar__tabs {
  display: flex;
  overflow-y: scroll;

  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }
}

.app-bar__action {

  &_back {
    margin-right: 12px;
  }

  &__title {
    font-size: 18px;
  }

  &_other {
    display: none;
    margin-left: auto;
    @media screen and (max-width: $bp-mobile) {
      display: block;
    }
  }
}

.app-bar__back-btn {
  object-fit: contain;
  object-position: center;
  width: 24px;
  height: 24px;
}

.app-bar-title {
  @media screen and (max-width: $bp-mobile) {
    font-size: 21px;
  }
}