@use './src/common/style/global' as *;

.archive {
  margin: 0;
  padding: 0;
}

.archive__item {
  list-style: none;
  text-decoration: none;
  margin: 0 0 12px 0;
  padding: 22px 50px;
  background: #FFFFFF;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
  border-radius: 9px;
  display: flex;
  flex-direction: row;
  align-content: center;
  cursor: pointer;
}

.archive__item:hover {
  opacity: .7;
  transition: all .5s ease;
}

.archive__img {
  display: block;
  margin: 0 24px 0 0;
  padding: 0;
  width: 30px;
  height: 30px;
  object-fit: contain;
  align-self: center;
}

.archive__title {
  margin: 0;
  padding: 0;
  align-self: center;
}
