@use './src/common/style/global' as *;

.nav-menu__item {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: .5em;
  border-radius: .25em;
  cursor: pointer;
  text-decoration: none;
  flex: 1 0 auto;

  &.show {
    background-color: #d1f3ff;
  }

  &:hover {
    background-color: #d1f3ff;
  }

  & + & {
    margin-top: 6px;
  }
}

.nav-menu__img {
  object-position: center;
  object-fit: contain;
  height: 24px;
  width: 24px;

  @media screen and (max-width: $bp-tablet) {
    width: 21px;
    height: 21px;
  }

  @media screen and (max-width: $bp-mobile) {
    width: 18px;
    height: 18px;
  }
}

.nav-menu__title {
  margin-left: 8px;
  line-height: 120%;
  transform: translateY(5%);
}

@media screen and (max-width: $bp-tablet) {
  .nav-menu__title {
    margin-left: 0;
    margin-top: 0.5em;
    line-height: 120%;
    transform: none;
    font-size: 10px;
    text-align: center;
  }

  .nav-menu__item {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
  }
}

@media screen and (max-width: $bp-mobile) {
  .nav-menu__item {
    margin: auto 0;
    padding: .25em;
    flex: 1 0 calc(100% / 4 - 6px);

    & + & {
      margin: inherit;
      margin-left: 6px;
    }
  }
}

@media screen and (max-width: 300px) {
  .nav-menu__title {
    display: none;
  }
}
